# Mix 目錄將編譯後的工件寫入其中。
/_build/

# 如果你運行“mix test --cover”，覆蓋資產會在這裡結束。
/cover/

# Mix 目錄將你的依賴源下載到。
/deps/

# ExDoc 等第三方依賴項輸出生成的文檔。
/doc/

# 如果您想在本地編輯您的項目部門，請忽略 .fetch 文件。
/.fetch

# 如果 VM 崩潰，它會生成一個轉儲，我們也忽略它。
erl_crash.dump

# 也忽略存檔工件（通過“mix archive.build”構建）。
*.ez

# 忽略包 tarball（通過“mix hex.build”構建）。
ethereum_jsonrpc-*.tar

